#header
  #logo
    %a{:href=>"home.html"}
      %img{:src=>"images/twilogo.jpg", :width=>"160"}
  #titles
    %a{:href=>"home.html"}
      #title
        %span{:id=>"red"}
          t
        widdl
      #subtitle
        collaboration for designers
