#navigation
  %div{:id=>"archive_link",:class=>"navlinks"}
    %a{:href=>"archives.html"}
      Archives
  %div{:id=>"about_link",:class=>"navlinks"}
    %a{:href=>"http://www.twiddl.com"}
      About
