#subscription
  #feed.subscribimg
    %a{:href=>"atom.xml"}
      %img{:src=>"images/rss.png", :width=>"100"}
  #email.subscribimg
    %a{:href=>"atom.xml"}
      %img{:src=>"images/email.png", :width=>"100"}
  #twitter.subscribimg
    %a{:href=>"atom.xml"}
      %img{:src=>"images/twitter.png", :width=>"100"}

